@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3{
    text-align: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* main page styles */
h1 {
    margin: 25px 0;
}

.flex {
     display: flex;
     justify-content: center;
}

.recipe-card {
    width: 300px;
    margin: 0 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.recipe-card-img {
    height: 350px;
}

.recipe-card h3 {
    margin: 8px 0;
}

.recipe-card-btn {
    background-color: #f6b93b;
    margin:10px auto;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
}